<header>
  <ion-avatar class="user--avatar">
    <img
      src="assets/imgs/user/user-example-1.jpg"
    />
  </ion-avatar>
  <div class="user--info">
    <span class="user--info--name">
      Ana Bonfim
    </span>
    <span class="user--info--role">
      Economista
    </span>
  </div>
  <button class="read--more" type="button">
    Ler mais +
  </button>
</header>
<main>
  <div class="title">
    Dicas de economia diária...
  </div>
  <div class="annotation">
    - Um item
    - Dois items
  </div>
</main>
<footer>
  <div>
    <input
      type="text"
    >
    <button
      type="button"
    > Publicar </button>
  </div>
  <div class="actions">
    <img
      src="assets/imgs/postit_comment.svg"
    >
    <img
      src="assets/imgs/postit_like_heart.svg"
    >
  </div>

</footer>