<div class="feed-detail">
  <img class="detail" src="assets/imgs/background.svg">

  <header>
    <img class="go-back" src="assets/imgs/go-back.svg">
    <img class="noteAndFriends" src="assets/imgs/note_and_friends.svg">
  </header>

  <main>
    <div class="feed-item" [style.background-color]="postIt.color">
      <header>
        <ion-avatar class="user--avatar">
          <img src="assets/imgs/user/user-example-1.jpg" />
        </ion-avatar>
        <div class="user--info">
          <span class="user--info--name">
            Ana Bonfim
          </span>
          <span class="user--info--role">
            Economista
          </span>
        </div>
      </header>
      <main>
        <div class="title">
          {{ postIt.title }}
        </div>
        <div class="annotation">
          {{ postIt.annotation }}
        </div>
        <div class="comments">
          <ng-container *ngFor="let comment of postIt.comments">
            <div class="comment-item">
              <app-comment [comment]="comment"></app-comment>
            </div>
          </ng-container>
        </div>
      </main>
      <footer>
        <div class="comment--section">
          <input type="text" placeholder="Inserir comentário">
          <button type="button"> Publicar </button>
        </div>
        <div class="actions--section">
          <ng-container *ngIf="!isLiked else liked">
            <img src="assets/imgs/postit_like_heart.svg" (click)="setLikeToPostIt()">
          </ng-container>
        </div>
      </footer>
    </div>
  </main>
</div>

<ng-template #liked>
  <img src="assets/imgs/postit_like_heart_filled.svg" (click)="setLikeToPostIt()">
</ng-template>