<div class="navbar">
  <ng-container *ngFor="let item of navbarList">
    <div class="navbar--item" [routerLink]="item.link">
      <img [src]="currentNavbar === item.type ? item.iconActivated : item.icon">
    </div>
  </ng-container>

  <!-- <div class="navbar--item" routerLink="/feed">
    <img *ngIf="currentNavbar !== navbarEnum.FEED" src="assets/imgs/navbar_feed_disabled.svg">
    <img *ngIf="currentNavbar === navbarEnum.FEED" src="assets/imgs/navbar_feed_enabled.svg">
  </div>

  <div class="navbar--item" routerLink="/home">
    <img *ngIf="currentNavbar !== navbarEnum.HOME" src="assets/imgs/navbar_home_disabled.svg">
    <img *ngIf="currentNavbar === navbarEnum.HOME" src="assets/imgs/navbar_home_enabled.svg">
  </div>

  <div class="navbar--item" routerLink="/profile">
    <img *ngIf="currentNavbar !== navbarEnum.PROFILE" src="assets/imgs/navbar_profile_disabled.svg">
    <img *ngIf="currentNavbar === navbarEnum.PROFILE" src="assets/imgs/navbar_profile_enabled.svg">
  </div> -->
</div>
