.comment {
    display: flex;

    .user--avatar {
        width: 2.5rem;
        height: 2.5rem;
    }

    &--info {
        display: flex;
        flex: 1;
        flex-direction: column;        
        padding-left: 0.5rem;
        color: #4E4E4E;

        &--user--name {
            font-weight: bold;
        }
    }
}