.home {
    background-color: white;

    header {
        width: 100%;

        display: flex;
        justify-content: center;

        margin-top: 2rem;

        img {
            width: 4rem;
        }
    }

    main {
        margin-top: 2rem;
        padding: 0 2rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 .5rem;

        app-postit {
            &:nth-child(n+3) {
                margin-top: -16rem;
            }
        }
    }

    &--new-postit {
        position: fixed;
        left: 16.6rem;
        bottom: 10rem;

        display: flex;
        justify-content: center;

        &--item {
            width: 12rem;
            height: 15rem;
            box-shadow: 0 2px 5px 2px #0000003d;

            position: absolute;
        }

        div:nth-child(1) {
            transform: rotate(-45deg);
            transform-origin: bottom left;
        }

        div:nth-child(2) {
            transform: rotate(-35deg);
            transform-origin: bottom left;
        }

        div:nth-child(3) {
            transform: rotate(-23deg);
            transform-origin: bottom left;
        }

        div:nth-child(4) {
            transform: rotate(-11deg);
            transform-origin: bottom left;
        }

        div:nth-child(5) {
            transform: rotate(0deg);
            transform-origin: bottom left;
        }

        div:nth-child(6) {
            transform: rotate(10deg);
            transform-origin: bottom left;
        }
    }
}