.button {
  --border-radius: 20px;
  --background: #2D9FDB;
  --box-shadow: none;
  font-style: italic;
  font-size: 0.8rem;
  width: 80%;
  height: 3rem;
  margin-top: 2rem;
  text-transform: capitalize;
}