<div class="login">
  <img class="background" src="assets/imgs/login_background.png">

  <img class="detail" src="assets/imgs/background.svg">

  <div class="container">
    <img src="assets/imgs/login_logo.svg">

    <div class="container--inputs">
      <span>E-mail</span>
      <input type="text" [(ngModel)]="loginPayload.email">
      <span>Senha</span>
      <input type="password" [(ngModel)]="loginPayload.password">
    </div>

    <ion-button (click)="login()">confirmar</ion-button>

    <p>Não possui conta? <a href="">Cadastre-se!</a></p>
  </div>
</div>